@using _3NetEventManagerS.Models
@model IEnumerable<Contribution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            ContributionType
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContributionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContributionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContributionId })
        </td>
        <td>
			@item.ContributionId
        </td>
        <td>
			@item.Name
        </td>
        <td>
            @item.Quantity
        </td>
        @{
            var contributionTypeRep = new ContributionTypeRepository(); 
            string contributionTypeName = contributionTypeRep.Find(item.ContributionTypeId).Name;
        }
        <td>
            @contributionTypeName
        </td>
    </tr>
}

</table>


